<div
  class="w-full bg-white min-h-screen flex flex-col items-center justify-center"
>
  <h1 class="text-gradient text-4xl p-2 text-center font-bold">
    REPORT MANAGER
  </h1>
  <form #createForm="ngForm" class="w-2/4">
    <div>
      <label class="block mb-2 text-primary">Type</label>
      <select
        name="type"
        id="type"
        class="w-full p-2 mb-2 text-primary border-b-2 border-primary outline-none focus:bg-gray-300"
        [(ngModel)]="report.type"
        #type="ngModel"
        [value]="report.type"
        required
      >
        <option *ngFor="let type of types" [value]="type.label">
          {{ type.label }}
        </option>
      </select>
      <div
        *ngIf="type.invalid && (type.dirty || type.touched)"
        class="text-red"
      >
        Invalid type
      </div>
    </div>
    <div>
      <label class="block mb-2 text-primary">Description</label>
      <input
        id="description"
        name="description"
        class="w-full p-2 mb-2 text-primary border-b-2 border-primary outline-none focus:bg-gray-300"
        required
        maxlength="25"
        [(ngModel)]="report.description"
        #description="ngModel"
      />
      <div
        *ngIf="
          description.invalid && (description.dirty || description.touched)
        "
        class="text-red"
      >
        Invalid description
      </div>
    </div>
    <div>
      <label class="block mb-2 text-primary">GPS</label>
      <input
        type="text"
        name="gps"
        class="w-full p-2 mb-2 text-primary border-2 border-primary outline-none focus:bg-gray-300"
        list="allGps"
        required
        [(ngModel)]="report.gps"
        #gps="ngModel"
        (change)="saveGps($event)"
        autocomplete="off"
      />
      <datalist id="allGps">
        <option
          class="w-full p-2 mb-2 text-primary border-b-2 border-primary outline-none focus:bg-gray-300"
          *ngFor="let g of allGps"
          [value]="g.id"
        >
          {{ g.name }}
        </option>
      </datalist>
      <div *ngIf="gps.invalid && (gps.dirty || gps.touched)" class="text-red">
        Invalid gps
      </div>
    </div>
    <div>
      <label class="block mb-2 text-primary">Owner</label>
      <input
        type="text"
        name="owners"
        class="w-full p-2 mb-2 text-primary border-2 border-primary outline-none focus:bg-gray-300"
        list="owners"
        required
        [(ngModel)]="report.owner"
        #owner="ngModel"
        (change)="saveOwner($event)"
        autocomplete="off"
      />
      <datalist id="owners" maxlength="2">
        <option
          class="w-full p-2 mb-2 text-primary border-b-2 border-primary outline-none focus:bg-gray-300"
          *ngFor="let o of owners"
          [value]="o.id"
        >
          {{ o.firstname }} {{ o.lastname }}
        </option>
      </datalist>
      <div
        *ngIf="owner.invalid && (owner.dirty || owner.touched)"
        class="text-red"
      >
        Invalid Owner
      </div>
    </div>
    <div>
      <label class="block mb-2 text-primary">Status</label>
      <select
        name="status"
        id="status"
        class="w-full p-2 mb-2 text-primary border-b-2 border-primary outline-none bg-gray-300"
        [(ngModel)]="report.status"
        #status="ngModel"
        [value]="report.status"
        required
      >
        <option
          class="text-black"
          *ngFor="let item of statusItems"
          [value]="item.label"
        >
          {{ item.label }}
        </option>
      </select>
      <div
        *ngIf="status.invalid && (status.dirty || status.touched)"
        class="text-red"
      >
        Invalid status
      </div>
    </div>
    <div *ngIf="report.id">
      <label class="block mb-2 text-primary"
        >CREATED AT: {{ report.createdAt | date: "full" }}</label
      >
      <label class="block mb-2 text-primary"
        >UPDATED AT: {{ report.updatedAt | date: "full" }}</label
      >
    </div>
    <div>
      <input
        class="cursor-pointer w-full btn-grad text-white font-bold py-2 px-4 mb-6 rounded"
        type="submit"
        [disabled]="!createForm.form.valid"
        (click)="saveReport()"
      />
    </div>
  </form>
</div>
