<div
  class="w-full bg-white min-h-full flex flex-col items-center justify-center"
>
  <h1 class="text-gradient">GPS MANAGER</h1>
  <form #createForm="ngForm" class="w-2/4">
    <div>
      <label class="block mb-2 text-primary">Name</label>
      <input
        id="name"
        name="name"
        class="w-full p-2 mb-2 text-primary border-b-2 border-primary outline-none focus:bg-gray-300"
        required
        minlength="4"
        [(ngModel)]="gps.name"
        #name="ngModel"
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="text-red"
      >
        Invalid name
      </div>
    </div>
    <div>
      <label class="block mb-2 text-primary">Latitude</label>
      <input
        id="latitude"
        name="latitude"
        class="w-full p-2 mb-2 text-primary border-b-2 border-primary outline-none focus:bg-gray-300"
        required
        type="number"
        step="0.01"
        [(ngModel)]="gps.latitude"
        #latitude="ngModel"
      />
      <div
        *ngIf="latitude.invalid && (latitude.dirty || latitude.touched)"
        class="text-red"
      >
        Invalid Latitude
      </div>
    </div>
    <div>
      <label class="block mb-2 text-primary">Longitude</label>
      <input
        id="longitude"
        name="longitude"
        class="w-full p-2 mb-2 text-primary border-b-2 border-primary outline-none focus:bg-gray-300"
        required
        type="number"
        step="0.01"
        [(ngModel)]="gps.longitude"
        #longitude="ngModel"
      />
      <div
        *ngIf="longitude.invalid && (longitude.dirty || longitude.touched)"
        class="text-red"
      >
        Invalid Latitude
      </div>
    </div>
    <div>
      <label class="block mb-2 text-primary">Owner</label>
      <input
        id="owner"
        name="owner"
        class="w-full p-2 mb-2 text-primary border-b-2 border-primary outline-none focus:bg-gray-300"
        required
        type="text"
        [(ngModel)]="gps.owner"
        #owner="ngModel"
      />
      <div
        *ngIf="owner.invalid && (owner.dirty || owner.touched)"
        class="text-red"
      >
        Invalid Owner
      </div>
    </div>
    <div>
      <label class="block mb-2 text-primary">Status</label>
      <input
        id="status"
        name="status"
        class="w-full p-2 mb-2 text-primary border-b-2 border-primary outline-none focus:bg-gray-300"
        required
        type="text"
        minlength="4"
        [(ngModel)]="gps.status"
        #status="ngModel"
      />
      <div
        *ngIf="status.invalid && (status.dirty || status.touched)"
        class="text-red"
      >
        Invalid Status
      </div>
    </div>
    <div>
      <input
        class="cursor-pointer w-full btn-grad text-white font-bold py-2 px-4 mb-6 rounded"
        type="submit"
        [disabled]="!createForm.form.valid"
        (click)="saveGps()"
      />
    </div>
    <leaflet-map></leaflet-map>
  </form>
</div>
