<div
  class="w-full min-h-full bg-white flex flex-col items-center justify-center"
>
  <p-table
    #dt1
    [value]="owners"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
    [globalFilterFields]="['id', 'firstname', 'lastname']"
    class="border-collapse w-full"
  >
    <ng-template pTemplate="caption">
      <h2 class="text-center p-2 font-bold">CLIENTS</h2>
      <div class="text-center">
        <button
          class="bg-green-600 hover:bg-green-700 p-2 rounded-lg"
          routerLink="/owner/create"
        >
          Add Client
        </button>
        <div class="p-d-flex my-2">
          <span
            class="p-input-icon-left p-ml-auto border border-blue-900 rounded-md"
          >
            <i class="pi pi-search"></i>
            <input
              pInputText
              class="ml-8 borde p-1"
              type="text"
              (input)="dt1.filterGlobal($event.target.value, 'contains')"
              placeholder="Filter"
            />
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
          pSortableColumn="id"
        >
          ID <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
          pSortableColumn="firstname"
        >
          FIRSTNAME <p-sortIcon field="firstname"></p-sortIcon>
        </th>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
          pSortableColumn="lastname"
        >
          LASTNAME <p-sortIcon field="lastname"></p-sortIcon>
        </th>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
          pSortableColumn="email"
        >
          EMAIL <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
          pSortableColumn="address"
        >
          ADDRESS <p-sortIcon field="address"></p-sortIcon>
        </th>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
          pSortableColumn="country"
        >
          COUNTRY <p-sortIcon field="country"></p-sortIcon>
        </th>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
          pSortableColumn="phone"
        >
          PHONE <p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th
          class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
        >
          ACTIONS
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-owner>
      <tr
        class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0 items-center"
      >
        <td
          class="w-full break-words mobile-center lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static"
        >
          <span
            class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
            >ID</span
          >
          {{ owner.id }}
        </td>
        <td
          class="w-full break-words mobile-center lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static"
        >
          <span
            class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
            >firstname</span
          >
          {{ owner.firstname }}
        </td>
        <td
          class="w-full break-words mobile-center lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static"
        >
          <span
            class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
            >lastname</span
          >
          {{ owner.lastname }}
        </td>
        <td
          class="w-full break-words mobile-center lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static"
        >
          <span
            class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
            >email</span
          >
          {{ owner.email }}
        </td>
        <td
          class="w-full break-words mobile-center lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static"
        >
          <span
            class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
            >address</span
          >
          {{ owner.address }}
        </td>
        <td
          class="w-full break-words mobile-center lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static"
        >
          <span
            class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
            >country</span
          >
          <span>{{ owner.country }}</span>
        </td>
        <td
          class="w-full break-words mobile-center lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static"
        >
          <span
            class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase"
            >phone</span
          >
          <span>{{ owner.phone }}</span>
        </td>
        <td
          class="w-full mobile-center lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static"
        >
          <button
            class="bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 p-2 m-1 rounded-lg"
            routerLink="/owner/{{ owner.id }}"
          >
            Watch
          </button>
          <button
            class="bg-red focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-opacity-50 p-2 m-1 rounded-lg"
            (click)="deleteOwner(owner.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between text-center p-2 font-bold">
        In total there are {{ owners ? owners.length : 0 }} owners.
      </div>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-plus"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>
